
{% extends "base.html" %}

{% block header %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<style>
    .map-container {
        width: 100vw;
        overflow: hidden;
        position: relative;
    }

    .details-tab {
        width: 250px;
        position: absolute;
        top:0px;
        left:0px;
        z-index: 2;
        background-color: white;
        margin: 10px;
        border-radius: 5px;
        padding:10px;
        box-shadow: 0px 0px 0.5rem #555;
    }

    .details-tab .details-header {
        text-transform: capitalize;
        border-bottom: 1px solid #ddd;
    }

    .details-description {
        padding:0.5rem 0px;
    }

    #map {
        width:100vw;
        height:90vh;
    }
</style>
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="map-container">
    <div class="details-tab">
        <div class="details-header">
            <h4>{{ custom_map.title }}</h4>
        </div>
        
        <div class="details-description">
            {{ custom_map.description }}
        </div>
    </div>

    <div id="map"></div>
</div>
{% endblock %}

{% block js %}
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWFtZXJqYW1lZWwiLCJhIjoiY2xvcnFmemY5MHh0czJqczhlMDZ4cGNnbCJ9.caC-vY545ifokQctbmu0JQ';
    let tilesUrl = `/{{ custom_map.tiles_folder }}`;
    let center = `{{ custom_map.center }}`;
    let maxZoom = parseInt(`{{ custom_map.maxzoom }}`);
    let minZoom = parseInt(`{{ custom_map.minzoom }}`);
    center = center.split(",").map(val => parseFloat(val))
    // center = center ? center.split(",").map(val => parseFloat(val)) : [0,0];
    let xyz_options = `{{ custom_map.tiles_in_folders }}`;
    console.log(xyz_options);

    xyz_options = xyz_options == "True" ? "{z}/{x}/{y}" : "{z}_{x}_{y}";
    const customMapStyle = {
        version: 8,
        sources: {
            'wms-layers':{
                "type":"raster",
                "tiles":[`${tilesUrl}/tiles/${xyz_options}.png`],
                "tileSize":256
            }
        },
        layers: [
            {
                "id": 'image-tile',
                "source":"wms-layers",
                "type": "raster",
                "layout": {},
            },
        ]
    }

    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: customMapStyle,
        center:[...center],
        zoom: minZoom + 1,
        minZoom:minZoom,
        maxZoom:maxZoom
    });

    map.on("load", () => {
        
    });
</script>
{% endblock %}