<div class="header-section">
    <div class="branding">
      <h3>Map Maker</h3>
    </div>

    <div class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">Home</a>
      <a class="nav-link fw-bold py-1 px-0" href="/custommaps/">Custom Maps</a>
      <a class="nav-link fw-bold py-1 px-0" href="/projects">Map Projects</a>
    </div>

    <div class="lang-toggle">
      <button class="btn btn-secondary" onclick="changeLanguage('en')">rtl</button>
      <button class="btn btn-secondary" onclick="changeLanguage('ar')">ltr</button>
    </div>
</div>