{% load i18n %}
<div class="header-section">
  <nav class="navbar navbar-expand-lg bg-white w-100" data-bs-theme="light" >
    <div class="container">
      <a class="navbar-brand" href="#">
        {% translate "Wayfinding Map" %}
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" data-bs-theme="light"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" data-bs-theme="light" ></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"> 
            <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="/">{% translate "Home" %}</a>
          </li>
          

          {% if user.is_authenticated and user.is_superuser %}
            <li class="nav-item"><a class="nav-link fw-bold py-1 px-0" href="/custommaps/">{% translate "Custom Maps" %}</a></li>
            <li class="nav-item"><a class="nav-link fw-bold py-1 px-0" href="/projects">{% translate "Map Projects" %}</a></li>
            <li class="nav-item"> <a class="nav-link fw-bold py-1 px-0" href="/icons">{% translate "Icons" %}</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link fw-bold py-1 px-0" href="/projects">{% translate "My Projects" %}</a></li>
            <li class="nav-item"> <a class="nav-link fw-bold py-1 px-0" href="/icons">{% translate "My Icons" %}</a></li>
          {% endif %}

          <!-- <li class="nav-item"> <a class="nav-link fw-bold py-1 px-0" href="/icons">Categories</a></li> -->
          <li class="nav-item">
            <a class="nav-link fw-bold py-1 px-0" href="/icons"> {{ user.username }}</a>
          </li>
        </ul>

        <div class="navbar-nav">
            {% if user.is_authenticated %}
             <li class="nav-item"> <a href="/accounts/logout" class="nav-link fw-bold py-1 px-0">{% translate "Log Out" %}</a></li>
            {% else %}
              <li class="nav-item"> <a href="/accounts/login" class="nav-link fw-bold py-1 px-0">{% translate "Log In" %}</a> </li>
            {% endif %}
          </div>
        </div>

    </div>
  </nav>  
</div>