{% extends "base.html" %}
{% load static %}
{% block header %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
 
    <style>
        .main {
            width: 1000px;
            margin: 0 auto;
            display: flex;
        }

        .form-section {
            flex: 1;
        }

        .map-section {
            flex: 0.8;
        }

        .mini-map {
            width: 100%;
            height: 90%;
        }

        .card {
            display: flex;
            padding:0px;
            border-radius: 5px;
            flex-direction: row;
            color: black;
            box-shadow: 0px 0px 0.25rem #999;
            overflow: hidden;
            max-width: 400px;
        }

        .subheader {
            display: flex;
            justify-content: space-between;
        }

        .subheader .search-bar {
            width: 70%;
        }

        .maps-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .maps-container .card {
            margin-right: 10px;
            margin-bottom: 10px;
        }
        
        @media only screen and (max-width: 480px) { 
            .maps-container {
                display: grid;
                grid-template-columns: 1fr;
            }

            .subheader {
                flex-direction: column;
            }

            .subheader > div {
                width: 100% !important;
            }

            .subheader .search-bar {
                margin-bottom: 5px;
            }
        }
    </style>
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="container mt-5">
    <div class="header my-2">
        <h3>Maps Projects</h3>
        <div class="subheader d-flex py-1">
            {% if user.is_authenticated %}
            <div class="search-bar">
                <input type="text" name="query" id="query" class="form-control" placeholder="Search Maps ...">
            </div>
                    <a href="/create_project/" class="btn btn-primary">Add Project</a>
                </div>
            {% endif %}
        </div>
        
    </div>
    <div class="maps-container container">
        {% for project in projects %}
            <div class="card">
                <img src="/media/{{ project.custom_map.thumbnail }}" alt="{{ project.title}}" width="150px">
                <div class="card-body">
                    <h4>
                        <a href="/projects/{{ project.title}}">{{ project.title}}</a>
                    </h4>
                    
                    <div>
                        <a href="/project_categories/{{ project.title}}">Categories</a>
                    </div>
                    
                    <p>{{ project.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>  
</div>
{% endblock %}
{% block js%}
<script src="{% static '/js/form-control.js' %}"></script>
{% endblock %}