{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block header %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
 
    <style>
        .main {
            width: 1000px;
            margin: 0 auto;
            display: flex;
        }

        .form-section {
            flex: 1;
        }

        .map-section {
            flex: 0.8;
        }

        .mini-map {
            width: 100%;
            height: 90%;
        }

        .card {
            display: flex;
            padding:0px;
            border-radius: 5px;
            flex-direction: row;
            color: black;
            box-shadow: 0px 0px 0.25rem #999;
            overflow: hidden;
            max-width: 100%;
        }

        .card-body {
            position: relative;
            height: auto;
        }
        .subheader, .header {
            display: flex;
            justify-content: space-between;
        }

        .subheader .search-bar {
            width: 70%;
        }

        .maps-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .maps-container .card {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .footer-section {
            position: absolute;
            bottom: 5px;
            left: 0px;
            right: 0px;
            padding: 2px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .footer-section a {
            height: 30px;
            background-color: #d5cccc;
            padding: 7px 10px;
            border-radius: 5px;
            color:#6d6c6c;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .iframe-link {
            display: flex;
            font-size: 13px;
            align-items: center;
            margin: 5px 10px 0px 0px;
            height:35px;
            position: relative;
            /* flex-direction: column; */
        }

        .iframe-link .link-div {
            background-color: rgb(184, 181, 181);
            padding:5px 4px;
            border-radius: 5px;
            font-size: 13px;
            display: none;
            /* margin-bottom: 5px; */
        }

        .iframe-link button {
            width:auto;
            color:white;
            text-decoration: none;
            font-size: 10px;
            padding:5px;
            /* position: absolute; */
            right: 0px;
            background-color: #b78376;
        }

        .iframe-link button:hover {
            background-color: #ac5a46;
            color:white;
        }

        .tooltip-div {
            position: relative;
            display: inline-block;
        }

        .tooltip-div .tooltiptext {
            visibility: hidden;
            width: 140px;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -75px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip-div .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .tooltip-div:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }

        a.btn-download {
            position: absolute;
            left:0px;
            top:0px;
            background-color: #ac5a46;
            color:white;
            font-size: 10px;
            z-index: 3;
        }

        a.btn-download:hover {
            background-color: rgb(170, 67, 41);
            color:white;
        }
        
        @media only screen and (max-width: 480px) { 
            .maps-container {
                display: grid;
                grid-template-columns: 1fr;
            }

            .iframe-link {
                margin: 5px 8px 0px 0px;
                width: 100%;
            }

            /* .ifrma */
            .link-group {
                display: grid !important;
                grid-template-columns: 1fr 1fr;
                /* grid-gap:10px; */
                height: 80px;
                margin-bottom: 40px;
            }

            .link-group button {
                width: 95%;
            }

            .maps-container .card {
                margin-right: 0px;
            }

            .subheader {
                flex-direction: column;
            }

            .subheader > div {
                width: 100% !important;
            }

            .subheader .search-bar {
                margin-bottom: 5px;
            }
        }
    </style>
{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="container mt-5">
    <div class="header my-2 d-flex">
        <h3>{% translate "Map Projects" %}</h3>
        <div class="subheader d-flex py-1">
            {% if user.is_authenticated %}
                <!-- <div class="search-bar">
                    <input type="text" name="query" id="query" class="form-control" placeholder="Search Maps ...">
                </div> -->
                    <a href="/create_project/" class="btn btn-primary">{% translate "Add Project" %}</a>
                </div>
            {% endif %}
        </div>
        
    </div>

    <div class="maps-container container">
        {% for project in projects %}
            <div class="card">
                <a class="btn-download btn" href="/project/export_project/{{ project.pk}}" target="_blank">
                    <i class="fa fa-download"></i>
                </a>

                <img src="/media/{{ project.custom_map.thumbnail }}" alt="{{ project.title}}" width="150px">

                <div class="card-body">
                        <!-- {{ project.project_language }} -->
                        <h4>
                            <a href="/projects/{{ project.title}}/view/">{{ project.title}}</a>
                            <!-- {% if project.project_language == "ar" %}
                                <a href="/projects/{{ project.title_ar}}/view/">{{ project.title}}</a>
                            {% elif project.project_language == "he" %}
                                <a href="/projects/{{ project.title_he}}/view/">{{ project.title}}</a>
                            {% else %}
                                <a href="/projects/{{ project.title}}/view/">{{ project.title}}</a>
                            {% endif %} -->
                        </h4>

                    <div class="link-group d-flex">
                        <div class="iframe-link">
                            <span class="link-div">
                                {{request.get_host}}/projects/{{ project.title}}/view/?lang=ar
                            </span>
                            <button class="btn btn-link tooltip-div" data-url="{{request.get_host}}/projects/{{ project.title}}/view/?lang=ar" data-tooltip="Copy Link" aria-label="Copy URL" data-tlite="" title="">
                                <span class="tooltiptext" id="myTooltip">{% translate "Copy to clipboard" %}</span>
                                <i class="fa fa-clipboard"></i> {% translate "Copy Link" %} ar
                            </button>
                        </div>

                        <div class="iframe-link">
                            <span class="link-div">
                                {{request.get_host}}/projects/{{ project.title}}/view/?lang=en
                            </span>
                            <button class="btn btn-link tooltip-div" data-url="{{request.get_host}}/projects/{{ project.title}}/view/?lang=en" data-tooltip="Copy Link" aria-label="Copy URL" data-tlite="" title="">
                                <span class="tooltiptext" id="myTooltip">{% translate "Copy to clipboard" %}</span>
                                <i class="fa fa-clipboard"></i> {% translate "Copy Link" %} en
                            </button>
                        </div>

                        <div class="iframe-link">
                            <span class="link-div">
                                {{request.get_host}}/projects/{{ project.title}}/view/?lang=he
                            </span>
                            <button class="btn btn-link tooltip-div" data-url="{{request.get_host}}/projects/{{ project.title}}/view/?lang=he" data-tooltip="Copy Link" aria-label="Copy URL" data-tlite="" title="">
                                <span class="tooltiptext" id="myTooltip">{% translate "Copy to clipboard" %}</span>
                                <i class="fa fa-clipboard"></i> {% translate "Copy Link" %} he
                            </button>
                        </div>
                    </div>

                    <p>{{ project.description }}</p>

                    <div class="footer-section">  
                        <!-- <a href="/project_categories/{{ project.title}}" class="">{% translate "Categories" %}</a>
                            <a href="/projects/{{ project.title}}" class="edit-btn">{% translate "Edit Project" %}</a>                       -->
                        {% if project.project_language == "ar" %}
                            <a href="/project_categories/{{ project.title_ar}}" class="">{% translate "Categories" %}</a>
                            <a href="/projects/{{ project.title_ar}}" class="edit-btn">{% translate "Edit Project" %}</a>
                        {% elif project.project_language == "he" %}
                            <a href="/project_categories/{{ project.title_he}}" class="">{% translate "Categories" %}</a>
                            <a href="/projects/{{ project.title_he}}" class="edit-btn">{% translate "Edit Project" %}</a>
                        {% else %}
                            <a href="/project_categories/{{ project.title}}" class="">{% translate "Categories" %}</a>
                            <a href="/projects/{{ project.title}}" class="edit-btn">{% translate "Edit Project" %}</a>
                        {% endif %}

                        
                    </div>                    
                </div>
            </div>
        {% endfor %}
    </div>  
</div>
{% endblock %}
{% block js%}
<script>
    let linkBtns = document.querySelectorAll(".btn-link");
    linkBtns.forEach(btn => {
        btn.onclick = (e) => {
            handleClick(e.target.dataset.url);
        }

        btn.onmouseout = (e) => {
            outFunc();
        }
    });

    function handleClick(linkValue) {
        let iframeLink = `<iframe src="https://${linkValue}" width="100%" height="300px" style="border:1px solid black;"></iframe>`
        navigator.clipboard.writeText(iframeLink);

        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Link Copied";
    }

    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }    
</script>
<script src="{% static '/js/form-control.js' %}"></script>
{% endblock %}
