{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block header %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
 
    <style>
        .main {
            max-width: 1000px;
            margin: 0 auto;
            display: flex;
        }

        .form-section {
            flex: 1;
        }

        .map-section {
            flex: 0.8;
        }

        .mini-map {
            width: 100%;
            height: 90%;
        }
    </style>
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="main mt-5">
    <div class="form-section">
        <form action="/create_project/" class="mx-3 my-2 form" method="post" id="upload_form">
            <h5>{% translate "Create Project" %}</h5>
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">
                        {% translate field.label %}
                    </label> <br>
                    {{ field }}
                </div>
                
            {% endfor %}    
            <input type="submit" value="{% translate 'Add Project' %}" class="btn btn-primary">
        </form>
        <div class="container d-none progress" id="progress"></div>
    </div>       
</div>

{% endblock %}

{% block js %}
<script src="{% static '/js/form-control.js' %}"></script>

{% endblock %}